<div class="container-administrador">
    <div class="container-admin">
        <img class="admin-img" src="../static/img/Foto.png" alt="">
        <p class="admin-text">Gerente Real Master</p>
    </div>
    <div class="admin-container">
        <div class="admin-item">
            <h2 class="services-title">Servicios</h2>
            <ul class="container-services">
               <a class="services-item-href" href="{% url 'plates' %}">
                <li class="services-item">Registro platos</li> 
               </a> 
               <a class="services-item-href" href="{% url 'employe' %}">
                   <li class="services-item">Registro empleados</li> 
               </a> 
            </ul>
        </div>
        <div class="admin-false">
            <h2 class="admin-title">Administrar (Mantenimiento)</h2>
            <ul class="container-services">
                <li class="services-item-false">administrar empleados</li> 
                <li class="services-item-false">administrar platos</li> 
                <li class="services-item-false">administrar reservas</li> 
             </ul>
        </div>

        <div class="admin-footer">
            <img class="admi-footer-img" src="../static/img/LOGO.png" alt="">
        </div>
    </div>
<div>