<div class="container-administrador">
    <div class="container-admin">
        <img class="admin-img" src="../static/img/Foto.png" alt="">
        <p class="admin-text">Gerente Real Master</p>
    </div>
    <div class="admin-container">
        <div class="admin-item">
            <h2 class="services-title">Servicios</h2>
            <ul class="container-services">
                <a class="services-item-href" href="{% url 'plates' %}">
                    <li class="services-item">Registro platos</li>
                </a>
                <a class="services-item-href" href="{% url 'employe' %}">
                    <li class="services-item">Registro empleados</li>
                </a>
                <a class="services-item-href" href="{% url 'admin-plates' %}">
                    <li class="services-item">administrar platos</li>
                </a>
                <a class="services-item-href" href="{% url 'admin-employe' %}">
                    <li class="services-item">administrar empleados</li>
                </a>
                <a class="services-item-href">
                    <li class="services-item">administrar reservas</li>
                </a>
            </ul>
        </div>

        <div class="admin-footer">
            <img class="admi-footer-img" src="../static/img/LOGO.png" alt="">
        </div>
    </div>
    <div>