<div class="banner">
    <div class='banner-logo'>
            <img class="animate__animated animate__backInLeft" src="../static/img/portada.png" alt="">
        </div>
        <div class="banner-container-title">
            <h2 class="banner-title animate__animated animate__backInLeft">30 años compartiendo experiencias gastronómicas
            </h2>
        </div>
    <ul class="banner-container">
        <li class="banner-items"> <img src="../static/img/banner.jpg" alt=""></li>
        <li class="banner-items"> <img src="../static/img/banner4.jpg" alt=""></li>
        <li class="banner-items"> <img src="../static/img/restaurante.jpg" alt=""></li>
        <li class="banner-items"> <img src="../static/img/banner3.webp" alt=""></li>
    </ul>
</div>

