<div class="banner">
    <div class='banner-logo'>
            <img class="animate__animated animate__backInLeft" src="../static/img/portada.png" alt="">
        </div>
        <div class="banner-container-title">
            <h2 class="banner-title animate__animated animate__backInLeft">30 años compartiendo experiencias gastronómicas
            </h2>
            <svg id='icon-btn'xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
              </svg>
        </div>
    <ul class="banner-container">
        <li class="banner-items"> <img src="../static/img/banner.jpg" alt=""></li>
        <li class="banner-items"> <img src="../static/img/banner4.jpg" alt=""></li>
        <li class="banner-items"> <img src="../static/img/restaurante.jpg" alt=""></li>
        <li class="banner-items"> <img src="../static/img/banner3.webp" alt=""></li>
    </ul>
</div>

