<section class="go-back">

    <div class="go-back-container-img">
        <img class="wow animate__animated animate__fadeInUp go-back-img" src="../static/img/jeje.png" alt="">
    </div>

    <div class="go-back-info">
        <h2 class="go-back-info-title">Seguimos con ustedes</h2>
        <p class="wow animate__animated animate__fadeInUp animate__slow go-back-info-text">Real Master abre nuevamente
            las puertas para recibirlos y atenderlos como siempre lo hemos hecho.
            Nos hemos transformado en cumplimiento con los protocolos de seguridad para que sigas viviendo una
            experiencia
            inolvidable en nuestro restaurante.</p>

        <a href="{% url 'main' %}">
            <button class="wow animate__animated animate__fadeInUp go-back-info-btn">
                Conoce el Menu
            </button>
        </a>

    </div>

</section>