<section class="location max-width">
    <div class="location-info wow animate__animated animate__fadeInUp animate__slow">
        <h3 class="location-info-title">Ven y conócenos</h3>
        <a href="https://goo.gl/maps/JAn1xNaQo3mwJY8z6">
            <button class="location-info-btn">Como llegar <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-pin-map-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z" />
                    <path fill-rule="evenodd"
                        d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z" />
                </svg></button>
        </a>
    </div>
    <div class="location-maps ">
        <iframe class="wow animate__animated animate__fadeInUp animate__slow"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4716.936488363572!2d-75.57107197097648!3d6.203555250206012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44296fc6cb933b%3A0x6fe12f808bae9433!2sHotel%20Estelar%20Blue!5e0!3m2!1ses!2sco!4v1668381948225!5m2!1ses!2sco"
            width="380" height="380" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </img>
    </div>
</section>