<section class="plates-container wow animate__animated animate__fadeInUp animate__slow max-width">
    <div class="plates-items">
        <h2 class="plates-text">Carnes</h2>
    </div>
    <div class="plates-items">
        <img class="plates-img" src="../static/img/gallinita.png" alt="">
    </div>
    <div class="plates-items">
        <h2 class="plates-text">Mariscos</h2>
    </div>
    <div class="plates-items">
    <img class="plates-img" src="../static/img/chateaubriand-bernaise.png" alt="">
    </div>
    <div class="plates-items">
        <h2 class="plates-text">Aves</h2>
    </div>
    <div class="plates-items">
        <img class="plates-img" src="../static/img/langostinos-rouille.png" alt="">
    </div>
</section>