<div class="background-attak ">
    <section class="especialplates max-width ">
        <div class="especialplates-container-title">
            <h2 class="especialplates-title">Nuestros mejores platos</h2>
        <div>
            <ul class="especialplates-container">
                <li class="especialplates-item"><img class="especial-item-img" src="../static/img/plato1.jpg" alt=""></li>
                <li class="especialplates-item"><img class="especial-item-img" src="../static/img/plato2.jpg" alt=""></li>
                <li class="especialplates-item"><img class="especial-item-img" src="../static/img/plato3.jpg" alt=""></li>
            </ul>
    </section>
</div>