#offcanvasTop {
    width: 90%;
    height: 70vh;
    color: rgb(181, 145, 86);
}

.container-nav-movile {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0px;
    height: 70%;
}

.item-nav-movile {
    text-decoration: none;
    background-color: white;
    color: rgb(181, 145, 86);
    padding: 10px;
    margin-bottom: 15px;
    width: 220px;
    text-align: center;
    -webkit-box-shadow: 0px 3px 12px -4px #7c7c7c;
    box-shadow: 0px 3px 12px -4px #6c6c6c;
}

.item-nav-movile:hover {
    color: rgb(181, 145, 86);
    width: 200px;
    padding: 8px;
    transition: all 0.5s ease;
}

.text-prom {
    padding: 10px;
    -webkit-box-shadow: 0px -4px 10px -2px #b7b5b5;
    box-shadow: 0px -4px 10px -2px #c3c3c3;
}


#prom-icon-movile {
    width: 30px;
    height: 30px;
    color: rgb(181, 145, 86);
}

#login {
    font-size: 18px;
    width: 140px;
    padding: 10px;
    background-color: rgb(181, 145, 86);
    -webkit-box-shadow: 0px 3px 15px -4px #797878;
    box-shadow: 0px 3px 15px -4px #6e6d6d;
    border: transparent;
    color: white;
}


@media (max-width:400px) {
    #login {
        font-size: 16px;
        width: 100px;
    }
}