<ul class="container-nav-movile">
    <a class="item-nav-movile nav-item animate__animated animate__backInLeft" href="{% url 'home'%}">
        <li>
            Inicio
        </li>
    </a>

    <a class="item-nav-movile nav-item animate__animated animate__backInLeft" href="{% url 'main' %}">
        <li>
            Menu
        </li>
    </a>

    <a class="item-nav-movile nav-item animate__animated animate__backInLeft" href="">
        <li>
            Historia
        </li>
    </a>

    <a class="item-nav-movile nav-item animate__animated animate__backInLeft" href="" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight">
        <li>
            Admin
        </li>
    </a>

</ul>