.cover-plates {
    width: 100%;
    height: 100vh;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.cover-video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}