.form-employee {
    width: 50%;
    height: 90%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 95px;
    left: 25%;
    font-size: 17px;
    color: rgb(32, 32, 32);
    background-color: rgb(248, 248, 246);
    opacity: 0.6;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(99, 91, 69);
    -moz-box-shadow: 0px 0px 10px 0px rgb(99, 91, 69);
    box-shadow: 0px 0px 10px 0px rgb(99, 91, 69);
    padding: 20px;
    font-weight: bold;
}

.form-container {
    width: 550px;
    display: flex;
    height: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(159, 142, 95);
    padding: 5px;
}

.form-employee-title {
    color: rgb(169, 148, 102);
    font-size: 30px;
}

.inputs-form-employee {
    width: 280px;
    background-color: rgb(240, 240, 240);
    color: rgb(29, 28, 28);
    text-align: center;
    border-radius: 3px;
    padding: 3px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(250, 250, 250, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(245, 245, 245, 0.75);
    border: 0.5px solid rgb(169, 148, 102);
    font-size: 18px;
    font-weight: bold;
}

.form-employee-btn {
    margin: 10px;
    width: 280px;
    border-radius: 5px;
    border: transparent;
    padding: 7px;
    background-color: rgb(169, 148, 102);
    color: white;
}

.form-employee-btn:hover {
    width: 300px;
    background-color: rgb(108, 92, 57);
    transition: all 0.5s ease;
}

@media (max-height:800px) {
    .form-container {
        border: none;
    }

    .form-employee {
        height: 80%;
    }
}

@media (max-width:750px) {
    .form-employee {
        width: 100%;
        left: 0%;
    }
}